---
import Layout from "../components/layout.astro";
import ProjectListItem from "../components/project/project-list-item.astro";

const projects = [
  {
    title: "Interactive Guide to React Hooks",
    description: "Description for Project 1 ↗",
    link: "https://reacthooksapp.vercel.app/",
    cover: "https://images.unsplash.com/photo-1599779868774-063b33f9a78d?q=80&w=800",
    tags: ["React", "Next", "Hooks"],
  },
  {
    title: "Go2Img - Image labelling tool",
    description: "Description for Project 2",
    link: "https://go2img.bekzod.net",
    cover: "https://images.unsplash.com/photo-1579762593175-20226054cad0",
    tags: ["Canvas", "Prisma", "React Router"],
  },
  {
    title: "Maveran Garden",
    description: "A custom website showcase Astro + zenblog CMS",
    link: "https://mgarden-web.pages.dev",
    cover: "https://images.unsplash.com/photo-1579762593175-20226054cad0",
    tags: ["Astro", "zenblog"],
  },
];
---

<Layout>
  <div
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-y-10 gap-x-0 sm:gap-x-10 max-w-screen-2xl mx-auto px-4 py-12 sm:px-8"
  >
    {projects.map((project) => <ProjectListItem project={project} />)}
  </div>
</Layout>
