---
import { MENUS } from "../config";

const currentPath = Astro.url.pathname;
---

<div class="flex flex-row justify-end gap-x-2 gap-y-2 sm:gap-x-4 flex-wrap flex-grow">
  {
    MENUS.map((item) => {
      const isActive = item.link === "/" ? currentPath === "/" : currentPath.startsWith(item.link);

      return (
        <a
          href={item.link}
          target={item.target}
          class={`h-full transition-colors hover:text-orange-700 text-sm sm:text-base ${
            isActive ? "text-orange-700 font-semibold" : "text-neutral-800"
          }`}
        >
          <span>{isActive && <span aria-hidden="true">{item.emoji}</span>}</span>
          {item.title}
        </a>
      );
    })
  }
</div>
